{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/static/css/admin.css">

	<title>InternGO</title>
    <style>
    .link {
    text-decoration: underline;
    color: #2a5db0;
    }
    </style>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
            <i class='bx bxl-google' ></i>
			<span class="text">InternGO</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="{% url 'students_list' %}">
					<i class='bx bxs-group'></i>
					<span class="text">Students</span>
				</a>
			</li>
			<li>
				<a href="{% url 'job_listing_list' %}">
					<i class='bx bxs-briefcase-alt-2'></i>
					<span class="text">Internships</span>
				</a>
			</li>
			<li class="active">
				<a href="#">
					<i class='bx bx-envelope'></i>
					<span class="text">Applications</span>
				</a>
			</li>
			<li>
				<a href="{% url 'company_list' %}">
					<i class='bx bxs-buildings'></i>
					<span class="text">Companies</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="{% url 'adminlogout' %}" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Menu</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="/static/images/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Companies</h1>
            <ul class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li><a class="active" href="#">Applications</a></li>
            </ul>
        </div>
    </div>

    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3 style="display: inline-block;">Application List</h3>
                <a href="{% url 'export_applicants_csv' job.id %}" class="btn-add-company" style="float: right; background-color: #4CAF50; color: white; padding: 8px 12px; border-radius: 6px; text-decoration: none;">
                Download CSV
                </a>
            </div>
            <table>
				<thead>
					<tr>
						<th>Full Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Course</th>
						<th>City</th>
						<th>CV</th> <!-- Добавили -->
					</tr>
				</thead>
				<tbody>
					{% for application in applications %}
					<tr>
						<td>{{ application.student.first_name }} {{ application.student.last_name }}</td>
						<td>{{ application.student.email }}</td>
						<td>{{ application.student.phone_number }}</td>
						<td>{{ application.student.university_course }}</td>
						<td>{{ application.student.city }}</td>
						<td>
  {% with document=user.documents.first %}
    {% if document %}
      <a href="{% url 'admin_download_cv' user.id %}" download="{{ user.first_name }}_{{ user.last_name }}.pdf">
        <img src="{% static 'icons/document.svg' %}" alt="CV" width="20" height="20">
      </a>
    {% else %}
      —
    {% endif %}
  {% endwith %}
</td>

					</tr>
					{% empty %}
					<tr><td colspan="6">No applicants yet.</td></tr>
					{% endfor %}
				</tbody>
			</table>			
            <a href="{% url 'application_list' %}">← Back to Application List</a>
        </div>
    </div>
</main>
<!-- MAIN -->
        
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="/static/script/admin.js"></script>
</body>
</html>
