<form method="post">
    {% csrf_token %}
    <label>Текущий пароль:</label><br>
    <input type="password" name="current_password" required><br><br>

    <label>Новый пароль:</label><br>
    <input type="password" name="new_password" required><br><br>

    <label>Подтвердите новый пароль:</label><br>
    <input type="password" name="confirm_password" required><br><br>

    <button type="submit">Изменить пароль</button>
</form>

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
