<!-- templates/hr_applicant_detail.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Информация о кандидате</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <h2>Информация о кандидате</h2>
    <div>
        <strong>Имя:</strong> {{ application.student.first_name }}<br>
        <strong>Фамилия:</strong> {{ application.student.last_name }}<br>
        <strong>Email:</strong> {{ application.student.email }}<br>
        <strong>Курс:</strong> {{ application.student.course }}<br>
        <strong>Вакансия:</strong> {{ application.job.title }}<br>
        <strong>Сопроводительное письмо:</strong><br>
        <p>{{ application.cover_letter|linebreaks }}</p>
    </div>
    <a href="{% url 'hr_application_detail' application.job.id %}">Назад</a>
</body>
</html>

