<!DOCTYPE html>
<html>
<head>
    <title>Finalize Registration</title>
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
<h2>Internships</h2>
<a href="{% url 'hr_add_internship' %}" class="btn">Add Internship</a>
<table>
    <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Deadline</th>
        <th>Actions</th>
    </tr>
    {% for internship in internships %}
    <tr>
        <td>
            <a href="{% url 'hr_application_detail' internship.id %}">{{ internship.title }}</a>
        </td>
        <td>{{ internship.status }}</td>
        <td>{{ internship.deadline }}</td>
        <td>
            <a href="{% url 'hr_edit_internship' internship.id %}">
                <img src="/static/icons/edit.svg" alt="Edit">
            </a>
            <a href="{% url 'hr_delete_internship' internship.id %}">
                <img src="/static/icons/delete.svg" alt="Delete">
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>