<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="/static/css/stylesign.css">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <div class="form-box">
                <h2>Check Your Email</h2>
                <p>If an account with that email exists, we have sent a password reset link.</p>
                <p>Please check your inbox and follow the instructions.</p>
            <div class="bottom-text">
                <a href="{% url 'signin' %}">← Back to Log In</a> 
            </div>
        </div>
        </div>
        <div class="right-section">
            <div class="image-container">
                <img src="/static/images/photoformain.png" alt="Abstract Design">
                <div class="overlay-text">Find Your Internship</div>
            </div>
        </div>
    </div>
    <!--<script src="script.js">
    </script>-->
</body>
</html>